#add for board init.rc for recovery mode
import /init.recovery.common.rc

on boot
    start boot-hal-1-2
    start health-hal-2-1
    
on fs
service keystore2 /system/bin/keystore2 /data/misc/keystore
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
on property:vendor.sys.listener.registered=true
    start vendor.keymint-unisoc-2.0
    start vendor.gatekeeper-1-0

on property:crypto.ready=1 && property:ro.crypto.state=encrypted
    start vendor.keymint-unisoc-2.0
    start vendor.gatekeeper-1-0

on property:crypto.ready=1 && property:hwservicemanager.ready=true
    start vendor.keymint-unisoc-2.0
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported || property:ro.crypto.state=unencrypted || property:twrp.decrypt.done=true
    stop vendor.keymint-unisoc-2.0
    stop vendor.gatekeeper-1-0    
