#add for board init.rc for recovery mode
import /init.recovery.common.rc

on post-fs
    start boot-hal-1-2

on boot
    start health-hal-2-1

on early-fs
    start vold

on fs
    mount_all ./first_stage_ramdisk/fstab.ums9230_hulk --late

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring
    setprop crypto.ready 1

on property:crypto.ready=1
    start vendor.keymint-unisoc-2.0

on property:vendor.sys.listener.registered=true
    start vendor.gatekeeper-1-0
    start vendor.keymint-unisoc-2.0

on property:property:ro.crypto.state=encrypted
    start vendor.gatekeeper-1-0
    start vendor.keymint-unisoc-2.0

on property:property:hwservicemanager.ready=true
    start vendor.gatekeeper-1-0
    start vendor.keymint-unisoc-2.0

on property:ro.crypto.state=unsupported || property:ro.crypto.state=unencrypted || property:twrp.decrypt.done=true
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-unisoc-2.0
